body {
  margin: 0;
  background-color: #0D121E;
  font-family: sans-serif;
  color: #FFFFFF;
}

/* CSS del Navbar*/
.navbar {
  background-color: #000000;
}

.navbarLogoImg {
  width: 60px;
  height: 60px;
}

.navTextLogo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1rem;
}

.nav-link {
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  margin-left: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #F0B35B !important;
}

/* Aplica color dorado al enlace activo */
.nav-link.active {
  color: #F0B35B !important;
  font-weight: bold;
  text-decoration: underline;
}
/*Termina CSS de Navbar*/

footer{
    position: relative;
    left: 0;
    bottom: 0;  
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #000;
    color:#fff;
    text-align: center;
}



h1, h2 {
  color: #004aad;
}

#productos, #carrito {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card, .carrito-item {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 200px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #00327a;
}