body{
  background-color: #0d121e;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #bea654;
  padding: 20px; 
  margin: 20px;
}


.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.profile {
  border: 5px solid black; 
  padding: 20px; 
  margin: 20px;
  background-color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}