body{
  background-color: #0d121e;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffff;
  padding: 20px; 
  margin: 20px;
}

.backpage{
  align-content: center;
}
.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.profile {
  border: 5px solid black; 
  padding: 20px; 
  margin: 20px;
  background: #bea654;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Estilos para el avatar circular */
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.circular-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;  /* Esto hace que la imagen sea circular */
    object-fit: cover;   /* Asegura que la imagen cubra todo el espacio sin deformarse */
    border: 2px solid #ddd; /* Borde opcional */
}

.avatar-upload-btn {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
}

.avatar-upload-btn:hover {
    background-color: #e0e0e0;
}