body {
  background-color: #0D121E;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FFFFFF;
    padding-top: 80px;
}
header h1,
.subtitulo,
.section-title {
  font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: 400; /* Para regular */
  color: #BEA654;
  letter-spacing: 1px;
}

/* CSS del Navbar*/
.navbar {
  background-color: #000000;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbarLogoImg {
  width: 60px;
  height: 60px;
}

.navTextLogo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1rem;
}

.nav-link {
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  margin-left: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #F0B35B !important;
}

/* Aplica color dorado al enlace activo */
.nav-link.active {
  color: #F0B35B !important;
  font-weight: bold;
  text-decoration: underline;
}
/*Termina CSS de Navbar*/

.hero {
  position: relative;
  background-image: url('/imgs/CTA.png'); /* Cambia la ruta a la de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 300px; /* Ajusta la altura según lo que necesites */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Texto blanco */
  font-size: 3rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negritas */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para destacar el texto */
  
}
.hero h1 {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 400; /* máximo grosor */
  font-size: 2.5rem; /* ajusta el tamaño */
  text-transform: uppercase; /* si quieres todo en mayúsculas */
  letter-spacing: 1px; /* separa letras como en el diseño */
  color: #FFFFFF; /* blanco sólido */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
