body {
  background-color: #0D121E !important;
  color: #fff !important;
}

div {
  background-color: #0D121E !important;
}
}

#titulo,
.subtitulo {
  color: #7C7B79;
}

.tarjeta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}


.padre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}